__pycache__
*.pyc
.env
.env.local
.idea
.vscode
.git
.gitignore
.DS_Store
*.log
*.pyo
*.pyd
*.pyc
*.so
*.orig
*.swp
*.swo
__pycache__
*.pytest_cache
.coverage
htmlcov
*.egg-info
*.egg
build
dist
*.sqlite3
